#caja.principal{

    text-align: center;
    display: flex;
    flex-wrap: wrap; /* Permite que las cajas se ajusten automáticamente en varias filas */
    justify-content: center; /* Centra las cajas horizontalmente */
    gap: 20px; /* Espaciado entre las cajas */
    padding: 20px; /* Espaciado interno del contenedor principal */
}

#caja-imagen1{
    border-radius: 30px;   

    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 500px;
    margin: 3.5%;
}
.caja-galeria-imagen{
    height: inherit;
    width: inherit;
    object-fit: cover;
}
.caja-texto{
    position: absolute;
    bottom: 0;
    background-color: #fff8c3;
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el texto horizontalmente */
    font-size: 18px;
}