h1 {
    margin: 20px ;
    text-align: center;
    font-size: 70px;
    color: #59316b;
}
.caja-principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px;
}

.caja-galeria {
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
}

.caja-galeria-imagen {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
}

.caja-galeria p {
    margin: 0;
    font-size: 25px;
    color: #232121;
}
