header {
    text-align: center;
    color:red;
    background-image: url("images/images.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

header img {
    max-width: 100%;
    height: auto;
}